<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin - Products</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <link rel="stylesheet" type="text/css" href="/css/background.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/all-tshirts.css">
</head>
<body>
<!-- Включване на хедъра -->
<div th:replace="~{fragments/header.html}"></div>

<h1>Admin - Products</h1>
<nav>
    <a href="/teams/add" class="add-button">➕ Add Team</a>

</nav>
<table>
    <thead>
    <tr>
        <th>Team name</th>
        <th>Country</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="team : ${teams}">
        <td th:text="${team.name}"></td>
        <td th:text="${team.country}"></td>
        <td>

            <form th:action="@{/teams/delete/{id}(id=${team.id})}" th:method="DELETE">
                <button type="submit">Delete</button>
            </form>

        </td>
    </tr>
    </tbody>
</table>
<footer>&copy; 2025 Retro Club Kit. All Rights Reserved.</footer>
<script th:src="@{/js/counter.js}"></script>
</body>
</html>
