<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Tshirt</title>
    <link rel="stylesheet" type="text/css" href="/css/background.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/edit-tshirt.css">
</head>
<body>
<!-- Включване на хедъра -->
<div th:replace="~{fragments/header.html}"></div>

<div class="edit-tshirt-container">
    <form th:action="@{/tshirts/update}" th:object="${updateTshirtRequest}" th:method="PUT">
        <input type="hidden" th:field="*{id}" />

        <label>Name:</label>
        <input type="text" th:field="*{name}" />
        <p class="alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

        <label>Image URL:</label>
        <input type="text" th:field="*{image}" />
        <p class="alert-warning" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></p>

        <label>Price:</label>
        <input type="number" th:field="*{price}" step="0.01" />
        <p class="alert-warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
        <p class="alert-warning" th:text="${positiveMessage}"></p>

        <label>Available Sizes:</label>
        <div class="sizes-container" th:object="${updateTshirtRequest}">
            <div th:each="size : ${allSizes}">
                <input type="checkbox" th:field="*{sizes}" th:value="${size}" />
                <label th:for="${#ids.prev('sizes')}" th:text="${size}"></label>
            </div>
        </div>
        <p class="alert-warning" th:if="${#fields.hasErrors('sizes')}" th:errors="*{sizes}"></p>


        <button type="submit">Save Changes</button>
    </form>
</div>

<footer>&copy; 2025 Retro Club Kit. All Rights Reserved.</footer>
<script th:src="@{/js/counter.js}"></script>
</body>
</html>
