<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/background.css">
    <link rel="stylesheet" type="text/css" href="/css/my-account.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <title>My Account</title>
</head>
<body>

<!-- Включване на хедъра -->
<div th:replace="~{fragments/header.html}"></div>

<main>
    <h1>My Account</h1>

    <section id="user-info">
        <h2>Profile Information</h2>

        <form th:action="@{'/users/' + ${user.id} + '/profile'}" th:object="${updateProfileRequest}" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" th:field="*{username}" required>
                <p class="alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>

            </div>

            <div class="form-group">
                <label for="firstName">First name:</label>
                <input type="text" name="firstName" id="firstName" th:field="*{firstName}" required>
                <p class="alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
            </div>

            <div class="form-group">
                <label for="lastName">Last name:</label>
                <input type="text" name="lastName" id="lastName" th:field="*{lastName}" required>
                <p class="alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" th:field="*{email}" required>
                <p class="alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

            </div>

            <button type="submit" id="saveChangesButton">Edit Profile</button>
        </form>
    </section>

    <div class="details-section">
        <div class="details-section-container">
            <strong>Notification state: </strong>
            <p class="enabled-notification-status" th:if="${notificationPreference.enabled}">ENABLED</p>
            <p class="disabled-notification-status" th:unless="${notificationPreference.enabled}">DISABLED</p>
        </div>
    </div>

    <p>Change State:</p>
    <div class="allowed-notification-actions">
        <form th:action="@{'/notifications/user-preference?enabled=false'}" th:method="PUT" th:if="${notificationPreference.enabled}">
            <button class="profile-actions-button disable-notifications">
                <p>Disable Notifications</p>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                </svg>
            </button>
        </form>
        <form th:action="@{'/notifications/user-preference?enabled=true'}" th:method="PUT" th:unless="${notificationPreference.enabled}">
            <button class="profile-actions-button enable-notifications">
                <p>Enable Notifications</p>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                </svg>
            </button>
        </form>
    </div>

    <section id="orders-button">
        <a th:href="@{/orders}" class="btn">My Orders</a>
    </section>
</main>
<footer>&copy; 2025 Retro Club Kit. All Rights Reserved.</footer>

<script th:src="@{/js/category.js}"></script>


</body>
</html>
