<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/background.css">
    <link rel="stylesheet" type="text/css" href="/css/my-account.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <title>My Account</title>
</head>
<body>

<!-- Включване на хедъра -->
<div th:replace="~{fragments/header.html}"></div>

<main>
    <h1>My Account</h1>

    <section id="user-info">
        <h2>Profile Information</h2>

        <form th:action="@{'/users/' + ${user.id} + '/profile'}" th:object="${updateProfileRequest}" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" th:field="*{username}" required>
                <p class="alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>

            </div>

            <div class="form-group">
                <label for="firstName">First name:</label>
                <input type="text" name="firstName" id="firstName" th:field="*{firstName}" required>
                <p class="alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
            </div>

            <div class="form-group">
                <label for="lastName">Last name:</label>
                <input type="text" name="lastName" id="lastName" th:field="*{lastName}" required>
                <p class="alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" th:field="*{email}" required>
                <p class="alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

            </div>

            <button type="submit" id="saveChangesButton">Edit Profile</button>
        </form>
    </section>

    <section id="orders-button">
        <a th:href="@{/orders}" class="btn">My Orders</a>
    </section>
</main>
<footer>&copy; 2025 Retro Club Kit. All Rights Reserved.</footer>

<script th:src="@{/js/counter.js}"></script>


</body>
</html>
