<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ретро Тениски</title>
    <link rel="stylesheet" type="text/css" href="/css/background.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/category.css">
</head>
<body>
<!-- Включване на хедъра -->
<div th:replace="~{fragments/header.html}"></div>

<div class="content">
    <!-- Ретро Тениски Section -->
    <div class="filters-container">
        <button class="filters-button" onclick="toggleFilters()">Филтри</button>
        <div class="filters-options" id="filtersOptions">
            <button onclick="sortProducts('price-asc')">Цена (възходящ)</button>
            <button onclick="sortProducts('price-desc')">Цена (низходящ)</button>
            <button onclick="sortProducts('name-asc')">Име (А-Я)</button>
            <button onclick="sortProducts('name-desc')">Име (Я-А)</button>
        </div>
    </div>
    <section id="retro-shirts" class="product-section">
        <h2>New T-shirt:</h2>
        <div class="product-list">
            <div th:each="tshirt : ${newTshirts}" class="product-card">
                <!-- Изображение на продукта -->
                <img th:src="@{${tshirt.image}}" alt="Product Image">
                <h3 th:text="${tshirt.name}">Тениска</h3>
                <p th:text="'Price: ' + ${tshirt.price}">Цена</p>

                <!-- Размер (показване само на наличните размери) -->
                <label for="size">Размер:</label>
                <select id="size" name="size">
                    <option th:each="size : ${tshirt.sizes}" th:value="${size}" th:text="${size}">Размер</option>
                </select>

                <a class="btn"
                   th:data-id="${tshirt.id}"
                   th:data-name="${tshirt.name}"
                   th:data-price="${tshirt.price}"
                   onclick="addToCart(event)">Добави в количка</a>

            </div>
        </div>
    </section>
</div>

<footer>&copy; 2025 Retro Club Kit. All Rights Reserved.</footer>
<script th:src="@{/js/category.js}"></script>
</body>
</html>